@model MvcChurchsj.Models.Evtable

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>Evtable</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.eid)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.eid)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.etitle)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.etitle)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.edate)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.edate)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.etext)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.etext)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}
