@using PagedList
@using PagedList.Mvc
@model IPagedList<MvcChurchsj.Models.Evtable>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
          eid
        </th>
        <th>
           etitle
        </th>
        <th>
           edate
        </th>
        <th>
            etext
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.eid)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.etitle)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.edate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.etext)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.eid }) |
            @Html.ActionLink("Details", "Details", new { id=item.eid }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.eid })
        </td>
    </tr>
}

</table>
<div class="pagedList">
    @Html.PagedListPager(Model, page => Url.Action("Index", new { page }), PagedListRenderOptions.PageNumbersOnly)
</div>