@{
    ViewBag.Title = "welcome";
}

<div class="jumbotron homejumb">
    <div class="hjumbtitle">Welcome to St.Joseph's Church</div> 
<p>
    Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. 
       </p>
  <p><a class="btn btn-warning btn-lg" href="#" role="button">About Parish</a></p>
</div>
<div class="row servic">
 
     @*---------------------------------------row1---------------------------------------*@    
    <div class="row">
        <div class="col-xs-12 col-md-4 col-lg-4 homecol">
            <a href="#">
        @Html.ActionLink(
    " ", 
    "Service", 
    "Home",  
    null , 
    new { 
        @class = "mylinkh1" 
    }
)
    </a></div>

        <div class="col-xs-12 col-md-4 col-lg-4 homecol">
            <a href="#">
        @Html.ActionLink(
    " ", 
    "Service", 
    "Home",  
    null , 
    new { 
        @class = "mylinkh2" 
    }
)
    </a></div>

        <div class="col-xs-12 col-md-4 col-lg-4 homecol">
            <a href="#">
        @Html.ActionLink(
    " ", 
    "Service", 
    "Home",  
    null , 
    new { 
        @class = "mylinkh3" 
    }
)
    </a></div>

</div>
   @*---------------------------------------row2---------------------------------------*@    
        
    <div class="row ">
        <div class="col-xs-12 col-md-4 col-lg-4 homecol">
            <a href="#">
        @Html.ActionLink(
    " ", 
    "Service", 
    "Home",  
    null , 
    new { 
        @class = "mylinkh4" 
    }
)
    </a></div>

        <div class="col-xs-12 col-md-4 col-lg-4 homecol">
            <a href="#">
        @Html.ActionLink(
    " ", 
    "Service", 
    "Home",  
    null , 
    new { 
        @class = "mylinkh5" 
    }
)
    </a></div>

        <div class="col-xs-12 col-md-4 col-lg-4 homecol">
            <a href="#">
        @Html.ActionLink(
    " ", 
    "Index", 
    "News",  
    null , 
    new { 
        @class = "mylinkh6" 
    }
)
    </a></div>

</div>
       
     
    

    

</div>