@using PagedList
@using PagedList.Mvc
@model IPagedList<MvcChurchsj.Models.Newstable>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
          Nid
        </th>
        <th>
           Nhead
        </th>
        <th>
           Ndate
        </th>
        <th>
            NUrl
        </th>
        <th>
            Ntext
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Nid)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Nhead)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Ndate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NUrl)
            <img style="width:50px;" src="@Url.Content(item.NUrl)" />

        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Ntext)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Nid }) |
            @Html.ActionLink("Details", "Details", new { id=item.Nid }) |
            @Html.ActionLink("Delete", "Delete", new {  id=item.Nid })
        </td>
    </tr>
}

</table>
<div class="pagedList">
    @Html.PagedListPager(Model, page => Url.Action("Index", new { page }), PagedListRenderOptions.PageNumbersOnly)
</div>